

/* I know that the HTML and CSS is dry, but my focus here was on the Javascript rather than making it look fancy */

body{
    margin:2% 0 0 2%;
    color:black;
}

#gameContainer{
    width:20%;
    margin-top:3%;
}

.score{
    margin-top:2%;
    background:lightblue;
    border:solid black 1px;
    overflow:auto;
}

h1{
    font-size:30px;
    line-height:45px;
}

h3{
    float:left;
}

#wins, #losses, #guessesRemaining, #guessesSoFar, p{
    float:right;
}